# EditorConfig
# http://editorconfig.org

# Top Most EditorConfig File
root = true

[*]
# Set Default Character Set
charset = utf-8

# Set Identation Style
indent_style = space

# Remove Whitespace Preceding Newline Character
trim_trailing_whitespace = true

# Unix Style Newline With Newline Ending
end_of_line = lf
insert_final_newline = true

[*.{htm,html}]
indent_size = 2

[*.{css,sass,scss,less}]
indent_size = 2

[*.{js,jsx,ts,tsx,cjs,mjs}]
indent_size = 2

[*.{py,go}]
indent_size = 4

[*.{yml,yaml,toml}]
indent_size = 2
